*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* 1. Isse padding/border width se bahar nahi jati */
}

body{
    background-color: rgb(41, 0, 0);
    overflow-x: hidden;  /* 2. Kisi bhi haal me horizontal scroll nahi aane dega*/
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: burlywood;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* 3. 'height' ki jagah 'min-height' taake content ke mutabiq jagah barh sake */
    flex-wrap: wrap;
}

.img{
    height: 350px;
    border-radius: 10px;
    width: 240px;
    margin: 20px;
}

#dise{
    display: block; /* 4. Margins ko sahi se handle karne ke liye block kiya */
    padding: 7px 29px;
    background-color: rgb(39, 25, 25);
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 15px auto 0 auto; /* 5. button ko hamesha center me rakhega screen choti ho ya bari */
    border: none;
    border-radius: 5px;
}

/* Tablet */
@media (max-width: 786px) {
    .container {
        /* Fix: Kisi fixed height ki zaroorat nahi, flex-wrap khud manage kar lega */
        min-height: auto; 
    }    
}

/* Mobile */
@media (max-width: 480px) {
    .container {
        min-height: auto;
        width: 100%;
    }

    /* screen se bahar na nikle */
    body {
        width: 100%; 
    }
}